<div id="<%= dom_id ticket %>">
  <p>
    <strong>Name:</strong>
    <%= ticket.name %>
  </p>

  <p>
    <strong>Lugar:</strong>
    <%= ticket.lugar %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= ticket.address %>
  </p>

  <p>
    <strong>Price paid:</strong>
    <%= ticket.price_paid %>
  </p>

  <p>
    <strong>Email adress:</strong>
    <%= ticket.email_adress %>
  </p>

</div>
